@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --cgreendark: #003B3E;
  --cgreenlight: #01DC82;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
     /* You can adjust these for dark mode if needed */
     --cgreendark: #003B3E;
     --cgreenlight: #01DC82;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter-tight), Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
